<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptomill: Cryptoprojects</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="fontawesome-free/css/all.min.css">
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" style="background: MediumTurquoise;">
  <span class="fs-4 text-white"><h1>Ⓜ️ Cryptomill</h1></span>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-white text-decoration-none" href="{% url 'home' %}">Home</a>
        <a class="me-3 py-2 text-white text-decoration-none" href="{% url 'crypto' %}">Cryptoprojects</a>
        <a class="me-3 py-2 text-white text-decoration-none" href="#">Creator</a>
        <a class="me-3 py-2 text-white text-decoration-none" href="#">FAQ</a>
      </nav>
    </div>

<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
    <a class="nav-link active" aria-current="page" href="{% url 'crypto' %}">Cryptocurrencies<span class="badge bg-light text-dark rounded-pill align-text-bottom">Ranking</span></a>
    <a class="nav-link" href="#">DeFi<span class="badge bg-light text-dark rounded-pill align-text-bottom">♻️</span></a>
    <a class="nav-link" href="#">NFT<span class="badge bg-light text-dark rounded-pill align-text-bottom">News 🔔</span></a>
    <a class="nav-link" href="#">Metaverse<span class="badge bg-light text-dark rounded-pill align-text-bottom">🌐</span></a>
    <a class="nav-link" href="#">Trending coins<span class="badge bg-light text-dark rounded-pill align-text-bottom">📈</span></a>
  </nav>
</div>

<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Coins ranking 📊</th>
              <th scope="col">Ticker</th>
              <th scope="col">Price 💵</th>
              <th scope="col">24h %</th>
              <th scope="col">high 24h</th>
              <th scope="col">low 24h</th>
              <th scope="col">Market Cap</th>
              <th scope="col">Last 7 Days</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>  ⭐️1 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="биткоин (BTC)" data-src="https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1547033579" data-srcset="https://assets.coingecko.com/coins/images/1/thumb_2x/bitcoin.png?1547033579 2x" src="https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1547033579" srcset="https://assets.coingecko.com/coins/images/1/thumb_2x/bitcoin.png?1547033579 2x"> <b>{{ BTC_name }}</b></td>
              <td>{{ BTC_symbol }}</td>
              <td>{{ BTC_current_price }}</td>
              <td>{{ BTC_price_change_percentage_24h }}</td>
              <td>{{ BTC_high_24h }}</td>
              <td>{{ BTC_low_24h }}</td>
              <td>{{ BTC_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="биткоин (BTC) 7d chart" data-src="https://www.coingecko.com/coins/1/sparkline" data-srcset="https://www.coingecko.com/coins/1/sparkline 1x" src="https://www.coingecko.com/coins/1/sparkline" srcset="https://www.coingecko.com/coins/1/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️2 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="эфириум (ETH)" data-src="https://assets.coingecko.com/coins/images/279/thumb/ethereum.png?1595348880" data-srcset="https://assets.coingecko.com/coins/images/279/thumb_2x/ethereum.png?1595348880 2x" src="https://assets.coingecko.com/coins/images/279/thumb/ethereum.png?1595348880" srcset="https://assets.coingecko.com/coins/images/279/thumb_2x/ethereum.png?1595348880 2x"> <b>{{ ETH_name }}</b></td>
              <td>{{ ETH_symbol }}</td>
              <td>{{ ETH_current_price }}</td>
              <td>{{ ETH_price_change_percentage_24h }}</td>
              <td>{{ ETH_high_24h }}</td>
              <td>{{ ETH_low_24h }}</td>
              <td>{{ ETH_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="эфириум (ETH) 7d chart" data-src="https://www.coingecko.com/coins/279/sparkline" data-srcset="https://www.coingecko.com/coins/279/sparkline 1x" src="https://www.coingecko.com/coins/279/sparkline" srcset="https://www.coingecko.com/coins/279/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️3 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="tether (USDT)" data-src="https://assets.coingecko.com/coins/images/325/thumb/Tether-logo.png?1598003707" data-srcset="https://assets.coingecko.com/coins/images/325/thumb_2x/Tether-logo.png?1598003707 2x" src="https://assets.coingecko.com/coins/images/325/thumb/Tether-logo.png?1598003707" srcset="https://assets.coingecko.com/coins/images/325/thumb_2x/Tether-logo.png?1598003707 2x"> <b>{{ USDT_name }}</b></td>
              <td>{{ USDT_symbol }}</td>
              <td>{{ USDT_current_price }}</td>
              <td>{{ USDT_price_change_percentage_24h }}</td>
              <td>{{ USDT_high_24h }}</td>
              <td>{{ USDT_low_24h }}</td>
              <td>{{ USDT_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="tether (USDT) 7d chart" data-src="https://www.coingecko.com/coins/325/sparkline" data-srcset="https://www.coingecko.com/coins/325/sparkline 1x" src="https://www.coingecko.com/coins/325/sparkline" srcset="https://www.coingecko.com/coins/325/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️4 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="binance coin (BNB)" data-src="https://assets.coingecko.com/coins/images/825/thumb/binance-coin-logo.png?1547034615" data-srcset="https://assets.coingecko.com/coins/images/825/thumb_2x/binance-coin-logo.png?1547034615 2x" src="https://assets.coingecko.com/coins/images/825/thumb/binance-coin-logo.png?1547034615" srcset="https://assets.coingecko.com/coins/images/825/thumb_2x/binance-coin-logo.png?1547034615 2x"> <b>{{ BNB_name }}</b></td>
              <td>{{ BNB_symbol }}</td>
              <td>{{ BNB_current_price }}</td>
              <td>{{ BNB_price_change_percentage_24h }}</td>
              <td>{{ BNB_high_24h }}</td>
              <td>{{ BNB_low_24h }}</td>
              <td>{{ BNB_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="binance coin (BNB) 7d chart" data-src="https://www.coingecko.com/coins/825/sparkline" data-srcset="https://www.coingecko.com/coins/825/sparkline 1x" src="https://www.coingecko.com/coins/825/sparkline" srcset="https://www.coingecko.com/coins/825/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️5 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="usd coin (USDC)" data-src="https://assets.coingecko.com/coins/images/6319/thumb/USD_Coin_icon.png?1547042389" data-srcset="https://assets.coingecko.com/coins/images/6319/thumb_2x/USD_Coin_icon.png?1547042389 2x" src="https://assets.coingecko.com/coins/images/6319/thumb/USD_Coin_icon.png?1547042389" srcset="https://assets.coingecko.com/coins/images/6319/thumb_2x/USD_Coin_icon.png?1547042389 2x"> <b>{{ USDC_name }}</b></td>
              <td>{{ USDC_symbol }}</td>
              <td>{{ USDC_current_price }}</td>
              <td>{{ USDC_price_change_percentage_24h }}</td>
              <td>{{ USDC_high_24h }}</td>
              <td>{{ USDC_low_24h }}</td>
              <td>{{ USDC_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="usd coin (USDC) 7d chart" data-src="https://www.coingecko.com/coins/6319/sparkline" data-srcset="https://www.coingecko.com/coins/6319/sparkline 1x" src="https://www.coingecko.com/coins/6319/sparkline" srcset="https://www.coingecko.com/coins/6319/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️6 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="кардано (ADA)" data-src="https://assets.coingecko.com/coins/images/975/thumb/cardano.png?1547034860" data-srcset="https://assets.coingecko.com/coins/images/975/thumb_2x/cardano.png?1547034860 2x" src="https://assets.coingecko.com/coins/images/975/thumb/cardano.png?1547034860" srcset="https://assets.coingecko.com/coins/images/975/thumb_2x/cardano.png?1547034860 2x"> <b>{{ ADA_name }}</b></td>
              <td>{{ ADA_symbol }}</td>
              <td>{{ ADA_current_price }}</td>
              <td>{{ ADA_price_change_percentage_24h }}</td>
              <td>{{ ADA_high_24h }}</td>
              <td>{{ ADA_low_24h }}</td>
              <td>{{ ADA_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="кардано (ADA) 7d chart" data-src="https://www.coingecko.com/coins/975/sparkline" data-srcset="https://www.coingecko.com/coins/975/sparkline 1x" src="https://www.coingecko.com/coins/975/sparkline" srcset="https://www.coingecko.com/coins/975/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️7 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="solana (SOL)" data-src="https://assets.coingecko.com/coins/images/4128/thumb/solana.png?1640133422" data-srcset="https://assets.coingecko.com/coins/images/4128/thumb_2x/solana.png?1640133422 2x" src="https://assets.coingecko.com/coins/images/4128/thumb/solana.png?1640133422" srcset="https://assets.coingecko.com/coins/images/4128/thumb_2x/solana.png?1640133422 2x"> <b>{{ SOL_name }}</b></td>
              <td>{{ SOL_symbol }}</td>
              <td>{{ SOL_current_price }}</td>
              <td>{{ SOL_price_change_percentage_24h }}</td>
              <td>{{ SOL_high_24h }}</td>
              <td>{{ SOL_low_24h }}</td>
              <td>{{ SOL_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="solana (SOL) 7d chart" data-src="https://www.coingecko.com/coins/4128/sparkline" data-srcset="https://www.coingecko.com/coins/4128/sparkline 1x" src="https://www.coingecko.com/coins/4128/sparkline" srcset="https://www.coingecko.com/coins/4128/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️8 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="xrp (XRP)" data-src="https://assets.coingecko.com/coins/images/44/thumb/xrp-symbol-white-128.png?1605778731" data-srcset="https://assets.coingecko.com/coins/images/44/thumb_2x/xrp-symbol-white-128.png?1605778731 2x" src="https://assets.coingecko.com/coins/images/44/thumb/xrp-symbol-white-128.png?1605778731" srcset="https://assets.coingecko.com/coins/images/44/thumb_2x/xrp-symbol-white-128.png?1605778731 2x"> <b>{{ XRP_name }}</b></td>
              <td>{{ XRP_symbol }}</td>
              <td>{{ XRP_current_price }}</td>
              <td>{{ XRP_price_change_percentage_24h }}</td>
              <td>{{ XRP_high_24h }}</td>
              <td>{{ XRP_low_24h }}</td>
              <td>{{ XRP_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="xrp (XRP) 7d chart" data-src="https://www.coingecko.com/coins/44/sparkline" data-srcset="https://www.coingecko.com/coins/44/sparkline 1x" src="https://www.coingecko.com/coins/44/sparkline" srcset="https://www.coingecko.com/coins/44/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️9 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="terra (LUNA)" data-src="https://assets.coingecko.com/coins/images/8284/thumb/luna1557227471663.png?1567147072" data-srcset="https://assets.coingecko.com/coins/images/8284/thumb_2x/luna1557227471663.png?1567147072 2x" src="https://assets.coingecko.com/coins/images/8284/thumb/luna1557227471663.png?1567147072" srcset="https://assets.coingecko.com/coins/images/8284/thumb_2x/luna1557227471663.png?1567147072 2x"> <b>{{ LUNA_name }}</b></td>
              <td>{{ LUNA_symbol }}</td>
              <td>{{ LUNA_current_price }}</td>
              <td>{{ LUNA_price_change_percentage_24h }}</td>
              <td>{{ LUNA_high_24h }}</td>
              <td>{{ LUNA_low_24h }}</td>
              <td>{{ LUNA_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="terra (LUNA) 7d chart" data-src="https://www.coingecko.com/coins/8284/sparkline" data-srcset="https://www.coingecko.com/coins/8284/sparkline 1x" src="https://www.coingecko.com/coins/8284/sparkline" srcset="https://www.coingecko.com/coins/8284/sparkline 1x"></td>
            </tr>
            <tr>
              <td>   ⭐️10 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="polkadot (DOT)" data-src="https://assets.coingecko.com/coins/images/12171/thumb/polkadot.png?1639712644" data-srcset="https://assets.coingecko.com/coins/images/12171/thumb_2x/polkadot.png?1639712644 2x" src="https://assets.coingecko.com/coins/images/12171/thumb/polkadot.png?1639712644" srcset="https://assets.coingecko.com/coins/images/12171/thumb_2x/polkadot.png?1639712644 2x"> <b>{{ DOT_name }}</b></td>
              <td>{{ DOT_symbol }}</td>
              <td>{{ DOT_current_price }}</td>
              <td>{{ DOT_price_change_percentage_24h }}</td>
              <td>{{ DOT_high_24h }}</td>
              <td>{{ DOT_low_24h }}</td>
              <td>{{ DOT_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="polkadot (DOT) 7d chart" data-src="https://www.coingecko.com/coins/12171/sparkline" data-srcset="https://www.coingecko.com/coins/12171/sparkline 1x" src="https://www.coingecko.com/coins/12171/sparkline" srcset="https://www.coingecko.com/coins/12171/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️11 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="dogecoin (DOGE)" data-src="https://assets.coingecko.com/coins/images/5/thumb/dogecoin.png?1547792256" data-srcset="https://assets.coingecko.com/coins/images/5/thumb_2x/dogecoin.png?1547792256 2x" src="https://assets.coingecko.com/coins/images/5/thumb/dogecoin.png?1547792256" srcset="https://assets.coingecko.com/coins/images/5/thumb_2x/dogecoin.png?1547792256 2x"> <b>{{ DOGE_name }}</b></td>
              <td>{{ DOGE_symbol }}</td>
              <td>{{ DOGE_current_price }}</td>
              <td>{{ DOGE_price_change_percentage_24h }}</td>
              <td>{{ DOGE_high_24h }}</td>
              <td>{{ DOGE_low_24h }}</td>
              <td>{{ DOGE_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="dogecoin (DOGE) 7d chart" data-src="https://www.coingecko.com/coins/5/sparkline" data-srcset="https://www.coingecko.com/coins/5/sparkline 1x" src="https://www.coingecko.com/coins/5/sparkline" srcset="https://www.coingecko.com/coins/5/sparkline 1x"></td>
            </tr>
            <tr>
              <td>  ⭐️12 <img class="mr-0 tw-max-h-5 tw-w-5 tw-overflow-hidden" style="width: 18px; height: 18px;" alt="binance usd (BUSD)" data-src="https://assets.coingecko.com/coins/images/9576/thumb/BUSD.png?1568947766" data-srcset="https://assets.coingecko.com/coins/images/9576/thumb_2x/BUSD.png?1568947766 2x" src="https://assets.coingecko.com/coins/images/9576/thumb/BUSD.png?1568947766" srcset="https://assets.coingecko.com/coins/images/9576/thumb_2x/BUSD.png?1568947766 2x"> <b>{{ BUSD_name }}</b></td>
              <td>{{ BUSD_symbol }}</td>
              <td>{{ BUSD_current_price }}</td>
              <td>{{ BUSD_price_change_percentage_24h }}</td>
              <td>{{ BUSD_high_24h }}</td>
              <td>{{ BUSD_low_24h }}</td>
              <td>{{ BUSD_market_cap }}</td>
              <td><img class="" width="135" height="50" alt="binance usd (BUSD) 7d chart" data-src="https://www.coingecko.com/coins/9576/sparkline" data-srcset="https://www.coingecko.com/coins/9576/sparkline 1x" src="https://www.coingecko.com/coins/9576/sparkline" srcset="https://www.coingecko.com/coins/9576/sparkline 1x"></td>
            </tr>
            <tr>
              <td>1,012</td>
              <td>text</td>
              <td>placeholder</td>
              <td>layout</td>
              <td>dashboard</td>
            </tr>
            <tr>
              <td>1,013</td>
              <td>dashboard</td>
              <td>irrelevant</td>
              <td>text</td>
              <td>visual</td>
            </tr>
            <tr>
              <td>1,014</td>
              <td>dashboard</td>
              <td>illustrative</td>
              <td>rich</td>
              <td>data</td>
            </tr>
            <tr>
              <td>1,015</td>
              <td>random</td>
              <td>tabular</td>
              <td>information</td>
              <td>text</td>
            </tr>
          </tbody>
        </table>
      </div>
</body>
</html>